## Mastodon instance you are using
MBB_INSTANCE={{ mastodon_server }}

## Mastadon configured development app name, key, secret and token
MBB_APP_NAME="booster script"
MBB_APP_KEY="{{ followbot_credentials.app_key }}"
MBB_APP_SECRET="{{ followbot_credentials.app_secret }}"
MBB_APP_TOKEN="{{ followbot_credentials.app_token }}"
MBB_APP_SCOPES=read:accounts read:statuses read:search read:follows write:conversations write:statuses push
