{
    "FakeRelayUrl": "{{ fakerelay_url }}",
    "FakeRelayApiKey": "{{ fakerelay_api_key }}",
    "Tags": [ "FountainPen", "FountainPens", "FountainPenInks", "penfount" ],
    "Instances": [
	    "chaos.social",
	    "mas.to",
	    "mastodon.art",
	    "mastodon.cloud",
	    "mastodon.online",
	    "mastodon.social",
	    "mastodon.world",
	    "mstdn.social",
	    "social.vivaldi.net",
	    "wandering.shop"
    ]
}
