[Unit]
Description=Mastodon Follow Bot
Wants=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=%h/bin/MastodonFollowBot --debug=ALL
EnvironmentFile=%h/.config/MastodonFollowBot/config.env

## MastodonFollowBot per-design quits on any error (even network)
## configure here how quickly it retries / restarts
Restart=always
RestartSec=3

## keep the bot well behaved
Nice=10
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
SystemCallArchitectures=native
SystemCallFilter=~@chown @clock @cpu-emulation @debug @keyring @module @mount @obsolete @privileged @swap @sync @raw-io
CPUQuota=50%
LimitFSIZE=128
ProtectControlGroups=yes

[Install]
WantedBy=default.target